{% extends "base_view/base.html" %}
{% load play_tags %}
{% block content %}
<!-- <p>-->
<!--        <i class="fa fa-hand-rock-o text-success" aria-hidden="true"></i>-->
<!--                <i class="fa fa-hand-paper-o text-warning" aria-hidden="true"></i>-->
<!--                <i class="fa fa-hand-scissors-o text-primary" aria-hidden="true"></i>-->
<!--                        <i class="fa fa-hand-scissors-o fa-rotate-180 text-primary" aria-hidden="true"></i>-->


<!--    </p>-->
<div class="container">
    <div class="display-5 text-center py-5 mb-5">
        <span class="text-success">Rock</span>, <span class="text-warning">Paper</span> and <span class="text-primary">Scissors</span>
    </div>
    <div class="container-fluid mb-5 mx-auto">
        <div class="row justify-content-md-center">
            <div class="col-md-3 bg-light py-4 shadow">
                <div class="text-center">
                    <div class="h4 fw-lighter">{{ player.get_full_name }}</div>
                    <div>
                        {% get_player_win_count player playdroid as player_win_count %}
                        {% get_player_loss_count player playdroid as player_loss_count %}
                        {% get_player_draw_count player playdroid as player_draw_count %}
                        <span class="fw-light text-success">Wins: <span id="player_win_count">{{ player_win_count }}</span></span>
                        <span class="fw-light text-danger">Losses: <span id="player_loss_count">{{ player_loss_count }}</span></span>
                        <span class="fw-light text-warning">Draws: <span id="player_draw_count">{{ player_draw_count }}</span></span>
                    </div>
                    <form id="move_form" class="form py-4" method="POST" action="{% url 'playground' %}">
                        {% csrf_token %}
                        <input type="hidden" name="player_move_type" id="player_move_type" value="" />
                        <input type="hidden" name="bot_move_type" id="bot_move_type" value="" />
                        <i id="player_rock_icon" data-value="rock" class="player_icon fa fa-hand-rock-o text-success fs-1 mx-2" aria-hidden="true"></i>
                        <i id="player_paper_icon" data-value="paper" class="player_icon fa fa-hand-paper-o text-warning fs-1 mx-2" aria-hidden="true"></i>
                        <i id="player_scissor_icon" data-value="scissor" class="player_icon fa fa-hand-scissors-o text-primary fs-1 mx-2" aria-hidden="true"></i>
                    </form>
                </div>
            </div>
            <div class="col-md-3 offset-md-1 bg-light py-4">
               <div class="text-center">
                    <div class="h4 fw-lighter">Result</div>
                    <div></div>
                    <div class="py-4">
                        <div class="row">
                            <div class="col-md-5">
                                <span id="player_icon_container"></span>
                                <span id="player_result_container" class="fs-1 fw-lighter"></span>
                            </div>
                            <div class="col-md-2">
                                <i class="fa fa-arrows-h fs-1 fw-lighter" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-5">
                                <span id="bot_icon_container"></span>
                                <span id="bot_result_container" class="fs-1 fw-lighter"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 offset-md-1 bg-light py-4 shadow">
                <div class="text-center">
                    <div class="h4 fw-lighter">{{ playdroid.get_full_name }}</div>
                    <div>
                        {% get_bot_win_count playdroid player as bot_win_count %}
                        {% get_bot_loss_count playdroid player as bot_loss_count %}
                        {% get_bot_draw_count playdroid player as bot_draw_count %}
                        <span class="fw-light text-success">Wins: <span id="bot_win_count">{{bot_win_count}}</span></span>
                        <span class="fw-light text-danger">Losses: <span id="bot_loss_count">{{ bot_loss_count }}</span></span>
                        <span class="fw-light text-warning">Draws: <span id="bot_draw_count">{{ bot_draw_count}}</span></span>
                    </div>
                    <div class="py-4">
                        <i id="bot_hand_icon" class="fa fa-hand-rock-o text-success fs-1 mx-2" aria-hidden="true"></i>
                        <i id="bot_paper_icon" class="fa fa-hand-paper-o text-warning fs-1 mx-2" aria-hidden="true"></i>
                        <i id="bot_scissor_icon" class="fa fa-hand-scissors-o text-primary fs-1 mx-2" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container text-center py-4 mb-4">
        <a href="{% url 'logout' %}" class="btn btn-danger btn-md">End Game</a>
    </div>
</div>
{% endblock %}