{% extends 'base_view/base.html' %}
{% load static %}
{% block content %}
    <div class="container py-4">
        <div class="row">
            <div class="col-sm-8 col-md-8 py-5">
                <div class="display-4"><span class="text-success">Rock</span>, <span class="text-warning">Paper</span> and <span class="text-primary">Scissors</span> Game.</div>
                <div class="h2 fw-lighter py-3">A fun game to play with your partner bot <div>named PlayDroid</div> </div>
                <div class="fw-light fs-4 py-5">
                    <a class="text-decoration-none btn btn-lg btn-info" href="/">Learn More</a>
                    {% if request.user.is_authenticated %}
                    <a type="button"  class="text-decoration-none btn btn-lg btn-success mx-auto" href="{% url 'playground' %}">Go to PlayGround! <i class="fa fw-lighter fa-long-arrow-right"></i></a>
                    {% else %}
                    <a type="button" id="btn_start_playing" data-bs-toggle="offcanvas" data-bs-target="#registerName" aria-controls="registerName" class="text-decoration-none btn btn-lg btn-success mx-auto" href="/">Start Playing <i class="fa fw-lighter fa-long-arrow-right"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <img class="img-fluid mx-auto float-end" src="{% static 'base_view/images/undraw_game_day_ucx9.svg'%}">
            </div>
        </div>

    </div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="registerName" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Enter your name</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container">
        <div class="h3 fw-lighter">
            To proceed to the PlayGround, please let us know your name
        </div>
        {% if not request.user.is_authenticated %}
        <div class="my-4">
            <form id="form_register" class="form" method="POST" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="mb-3">
                     {% if register_form.name %}
                    <input type="text" autocomplete="off" name="name" class="form-control py-2" placeholder="Your Name" required="" id="id_name">
                    {% endif %}
                    <div id="user_register_errors" class="fs-6 text-sm text-danger">
                    </div>
                </div>

               <div>
                   <button id="btn_register" type="submit" class="btn btn-md btn-success float-end">Submit</button>
               </div>
            </form>
        </div>
        {% endif %}

    </div>
  </div>
</div>
{% endblock %}